main {
  margin: 2.875rem auto;

  @media (min-width: 80em) {
    margin-top: 5.56rem;
  }
}

#title {
  width: 19.93rem;
  height: 8.5rem;

  @media (min-width: 80em) {
    width: 31.75rem;
    height: 14rem;
    margin: 0;
  }

  & h3 {
    margin-bottom: 0.5rem;
    font: var(--text-overline);
    background: linear-gradient(
      90deg,
      var(--content-secondary) 0%,
      var(--background-gray) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }

  & h1 {
    font: var(--text-display-medium);
    text-transform: uppercase;
  }

  @media (min-width: 80em) {
    & h3 {
      width: 32rem;
    }

    & h1 {
      width: 32rem;
      font: var(--text-display-large);
    }
  }
}

#raffle {
  margin-top: 2.62rem;

  @media (min-width: 80em) {
    margin: 0;
  }
}

.raffle-title {
  margin-bottom: 2.5rem;

  & h2 {
    margin-bottom: 0.13rem;
    font: var(--text-label-medium);
    text-transform: uppercase;
  }

  & h3 {
    font: var(--text-paragraph-medium);
    color: var(--content-tertiary);
    margin-bottom: 2.5rem;
  }

  @media (min-width: 80em) {
    width: 30.12rem;
    height: 5rem;
  }
}

.raffle-numbers {

  & .columns {
    margin-bottom: 1.25rem;
    display: grid;
    grid-template-columns: 5.37rem 5.37rem 5.37rem;
    gap: 2rem;
  }

  & p {
    font: var(--text-label-medium);
    color: var(--content-secondary);
  }

  .back-number {
    width: 5.37rem;
    height: 3.5rem;
    background-color: var(--background-tertiary);
  }

}
